body{
    font-family: 'Montserrat', sans-serif;
    background-color: $bg-color-body;
    position: relative;
}
main{
    margin-left: 0;
    transition: all 400ms ease;
    &.active{
        margin-left: $sidebar-width;
    }     
 }