.header{
    width: 100%;
    background: url('../img/bg-img.jpg') no-repeat;
    background-size: cover;
    padding: 200px 0 100px 0;

    &__title{
        @include font;
    }

    &__subtitle{
        @include font(25px, 300, $align:center);
        text-shadow: 1px 1px 3px $white-color;
    }
}