@mixin font($font-size: 32px, $font-weight: 700, $font-color:#212121, $align: center) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-color;
    text-align: $align;
    text-transform: uppercase;
    opacity: .8;
}

@mixin anchor{
    border-bottom: 1px dotted $primary-color;
    font-weight: 400;
}

@mixin quote($width-line:2px, $padding-line:5px, $color-line:$bg-color-body){
    display: block;
    quotes: "" "";
    color: #777;
    margin: 10px 0;
    border-left: $width-line solid $color-line;
    padding: $padding-line $padding-line $padding-line 3*$padding-line;
}