.panel{
    position: absolute;
    width: $aside-width;
    height: 100%;
    background-color: $bg-color-sidebar;
    top: 0;
    left: 0;
    z-index: 50;
    
    &.active{
        left: $sidebar-width;
    }

    &__button{
        @include border-sidebar(bottom, 1px, #161616);
        @include font(32px, 700, #d8d8d8);
        width: 100%;
        height: 113px;
        cursor: pointer;
        background-color: $bg-color-sidebar;
        transition: all 300ms ease;

        &:hover{
            color: $white-color;
        }

        & > .bx{
            display: none;
            line-height: 113px;
            width: 100%;
            height: 100%;
        }

        & > .active{
            display: block;
        }
    }

    &__slider{
        margin: 20px 0;
    }

    &__item{
        display: block;
        width: 100%;
    }

    &__link{
        display: block;
        text-align: center;

        &.active span{
            background-color: $primary-color;
        }
    }

    &__circle{
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #d8d8d8;
        
        &:hover{
            background-color: $white-color;
        }
    }
}